<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/common/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/project.js') }}"></script>
</head>
<body>
    <button onclick='create()'>创建项目</button>

    <h1>文件上传</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="files" multiple>
        <button type="submit">上传</button>
    </form>

    <button onclick='runTask()'>提交任务</button>
<!--    <form>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td class="tdx">用户名：</td>-->
<!--                <td><input type="text" id="username" name="username" value=""/>-->
<!--                    <span style="color:rgb(255,153,35)"></span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="tdx">密&nbsp;&nbsp; 码：</td>-->
<!--                <td><input type="password" name="password"/>-->
<!--                    <span style="color:rgb(255,153,35)"></span>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2">-->
<!--                    <input type="submit" value="创建项目"/>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
</body>
</html>